<body ng-app class="animate">
    
<div ui-view="_"><a ui-sref="loginHomePage"><img ng-src="img/phones/loginHomePage.png"></a></div>
    
<h3>songs from the Beatles</h3>
    
<div ng-controller="myCtrl">
    <div>
        <input type="text" ng-model="search">
        <button type="submit">Filter</button> 
    </div>

    <div> 
        <ul>  
            <li class="slide" ng-repeat="song in songs | filter:search">
                {{song}}
            </li> 
        </ul>
    </div>    
</div>
        
<div ui-view="a"> <a ui-sref="login.clickme1"><img ng-src="img/phones/clickMe1.png"></a></div>
<div ui-view="b"> <a ui-sref="login.clickme2"><img ng-src="img/phones/clickMe2.png"></a></div>
<div ui-view="c"> <a ui-sref="login.clickme3"><img ng-src="img/phones/clickMe3.png"></a></div> 
    
</body>


