<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
        
        <form ng-submit="send()">        
            <br><br>
            Inspector ID: <input ng-model="queryA">
            <br><br>
            Password: <input ng-model="query1">
            <br><br>
            
            <a ui-sref="login"><img ng-src="img/phones/Login_button.gif"></a>
            <input value="Submit" id="submit" type="submit">
            <div class="col-md-10">
                <ul class="phones"></ul>
            </div>
            <br>
            <p>Preview: {{queryA + " " + query1}}</p>
            <p>Sent/Recieved: {{user.queryA + " " + pass.query1}}</p>
        </form>        
        
      </div>
    </div>
</div>